!!! 5
html
head
  title Chat
  != css('chat')
body
  ul#conversation
  input(type='text', placeholder='Type your message here...')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script(src='/socket.io/socket.io.js')
  != js('chat')